<template>
	<div>Spaces left: {{ spacesLeft }} out of {{ capacity }}</div>
  <div>Capacity: {{ capacity }}</div>
  <button @click="increase">add 1</button>
  <button @click="decrease">Substract 1</button>

	<hr>

	<h4>Attending</h4>

	<ul>
		<li
			v-for="(name, index) in attending"
			:key="index"
		>
			{{ name }}
		</li>
	</ul>

	<button @click="addMarlon">Add Marlon</button>
</template>

<script>
// import { computed, ref } from 'vue'
import useEventSpace from './use/event-space'

export default {
	props: {
		initCapacity: {
			type: Number,
			default: 2
		}
	},
  setup(props) {
		const {
			capacity,
			increase,
			decrease,
			attending,
			spacesLeft,
			addMarlon
		} = useEventSpace(props.initCapacity)

		return {
			capacity,
			increase,
			decrease,
			attending,
			spacesLeft,
			addMarlon
		}
		// const capacity = ref(props.initCapacity);
		// const attending = ref(['Tim', 'Bob', 'Joe'])
		// const spacesLeft = computed(() => capacity.value - attending.value.length)
		
		// const addMarlon = () => attending.value.push('marlon')
		// const increase = () => capacity.value++
		// const decrease = () => capacity.value--

    // return {
		// 	capacity,
		// 	increase,
		// 	decrease,
		// 	attending,
		// 	spacesLeft,
		// 	addMarlon
		// };
  }
};
</script>
