<template>
    <div>Cart ({{ cart }})</div>

    <img :src="image" alt="product image" class="product-image">
    <h1>{{ product }}</h1>
    <p v-if="inventory > 10">In Stock</p>
    <p v-else-if="inventory <= 10 && inventory > 0">Almot Sold Out</p>
    <p v-else>Out of Stock</p>
    <ul>
      <li v-for="(detail, index) in details" :key="index">{{ detail }}</li>
    </ul>
    <div
      v-for="variant in variants"
      :key="variant.id"
      @mouseover="updateImage(variant.image)"
      class="color-circle"
      :style="{ backgroundColor: variant.color }"
    >
    </div>
    <button @click="addToCart">Add cart</button>
</template>

<script>
export default {
  data() {
    return {
      cart: 0,
      product: 'Socks',
      image: require('../assets/images/socks_green.jpg'),
      inventory: 8,
      details: [
        '50% cotton',
        '30% wool',
        '20% polyester',
      ],
      variants: [
        {id: 2234, color: 'green', image: require('../assets/images/socks_green.jpg')},
        {id: 2235, color: 'blue', image: require('../assets/images/socks_blue.jpg')},
      ]
    }
  },
  methods: {
    addToCart() {
      this.cart++
    },
    updateImage(variantImage) {
      this.image = variantImage
    }
  }
}
</script>

<style scoped>

.product-image {
  width: 300px;
}

.color-circle {
  width: 50px;
  height: 50px;
  margin-top: 8px;
  border: 2px solid #d8d8d8;
  border-radius: 50%;
}

</style>