<template>
	<BulkActionBar :emails="unarchivedEmails" />
	<h1>{{ emailSelection.emails.size }} emails selected</h1>
	<table class="mail-table">
		<tbody>
			<tr
				v-for="email in unarchivedEmails"
				:key="email.id"
				:class="['clickable', email.read ? 'read' : '']"
			>
				<td>
					<input
						type="checkbox"
						@click="emailSelection.toggle(email)"
						:checked="emailSelection.emails.has(email)"
					>
				</td>
				<td @click="openEmail(email)">{{ email.from }}</td>
				<td @click="openEmail(email)">
					<p><strong>{{ email.subject }}</strong> - {{ email.body }}</p>
				</td>
				<td @click="openEmail(email)" class="date">{{ format(new Date(email.sentAt), 'MMM do yyyy') }}</td>
				<td><button @click="archiveEmail(email)">Archive</button></td>
			</tr>
		</tbody>
	</table>
	<ModalView v-if="openedEmail" @close-modal="openedEmail = null">
		<MailView
			v-model:email="openedEmail"
			@change-email="changeEmail"
		/>
	</ModalView>
</template>

<script>
import { format } from 'date-fns';
import axios from 'axios';
import { ref } from 'vue';
import BulkActionBar from './BulkActionBar'
import MailView from './MailView';
import ModalView from './ModalView';
import useEmailSelection from '../composables/use-email-selection'

export default {
	components: {
		BulkActionBar,
		MailView,
		ModalView
	},
	computed: {
		sortedEmails() {
			return this.emails.map(e => e)
				.sort((e1, e2) => {
				return e1.sentAt < e2.sentAt ? 1 : -1
			})
		},
		unarchivedEmails() {
			return this.sortedEmails.filter(e => !e.archived)
		}
	},
	async setup() {
		let {data: emails} = await axios.get('http://localhost:5011/emails')
		let openedEmail = ref(null)

		return {
			emailSelection: useEmailSelection(),
			format,
			emails,
			openedEmail
		}
	},
	methods: {
		openEmail(email) {
			this.openedEmail = email
			if (email) {
				email.read = true
				this.updateEmail(email)
			}
		},
		archiveEmail(email) {
			email.archived = true
			this.updateEmail(email)
		},
		updateEmail(email) {
			axios.put(`http://localhost:5011/emails/${email.id}`, email)
		},
		changeEmail({ toggleRead, toggleArchive, save, closeModal, changeIndex }) {
			if (toggleRead) {
				this.openedEmail.read = !this.openedEmail.read
			}
			if (toggleArchive) {
				this.openedEmail.archived = !this.openedEmail.archived
			}
			if (save) {
				this.updateEmail(this.openedEmail)
			}
			if (closeModal) {
				this.openedEmail = null
			}

			if (changeIndex) {
				const currentIndex = this.unarchivedEmails.findIndex(email => email.id === this.openedEmail.id)
				this.openEmail(this.unarchivedEmails[currentIndex + changeIndex])
			}

		}
	}
}
</script>