<template>
    <div class="email-display">
        <div>
            <button @click="toggleArchive">{{ email.archived ? 'Move to Inbox' : 'Archive' }} (e)</button>
            <button @click="toggleRead">{{ email.read ? 'Mark Unread' : 'Mark Read' }} (r)</button>
            <button @click="goNewer">Newer (k)</button>
            <button @click="goOlder">Older (j)</button>
        </div>
        <h2 class="mb-0">Subject: <strong>{{ email.subject }}</strong></h2>
        <div><em>From {{ email.from }} on {{ format(new Date(email.sentAt), 'MMM do yyyy') }}</em></div>
        <div v-html="marked(email.body)"></div>
    </div>
</template>

<script>
import { format } from 'date-fns'
import marked from 'marked'
import useKeydown from '../composables/use-keydown'

export default {
    props: {
        email: {
            type: Object,
            required: true
        }
    },
    setup(props, { emit }) {
        const toggleRead = () => emit('change-email', {toggleRead: true, save: true})
        const toggleArchive = () => emit('change-email', {toggleArchive: true, save: true, closeModal: true})
        const goNewer = () => emit('change-email', {changeIndex: -1})
        const goOlder = () => emit('change-email', {changeIndex: 1})
        const goNewerAndArchive = () => emit('change-email', {changeIndex: -1, toggleArchive: true, save: true})
        const goOlderAndArchive = () => emit('change-email', {changeIndex: 1, toggleArchive: true, save: true})


        useKeydown([
            {key: 'r', fn: toggleRead},
            {key: 'e', fn: toggleArchive},
            {key: 'k', fn: goNewer},
            {key: 'j', fn: goOlder},
            {key: 'm', fn: goNewerAndArchive},
            {key: 'n', fn: goOlderAndArchive},
        ])
        return {
            format,
            marked,
            toggleRead,
            toggleArchive,
            goNewer,
            goOlder
        }
    }
}
</script>