<template>
	<div>Spaces left: {{ spacesLeft }} out of {{ capacity }}</div>
  <div>Capacity: {{ capacity }}</div>
  <button @click="increase">add 1</button>
  <button @click="decrease">Substract 1</button>

	<hr>

	<h4>Attending</h4>

	<ul>
		<li
			v-for="(name, index) in attending"
			:key="index"
		>
			{{ name }}
		</li>
	</ul>

	<button @click="addMarlon">Add Marlon</button>
</template>

<script>
import { computed, reactive, toRefs } from "vue";

export default {
	props: {
		initCapacity: {
			type: Number,
			default: 2
		}
	},
  setup(props) {
		const event = reactive({
			capacity: props.initCapacity,
			attending: ['Tim', 'Bob', 'Joe'],
			spacesLeft: computed(() => event.capacity - event.attending.length)
		})

		const addMarlon = () => event.attending.push('marlon')
		const increase = () => event.capacity++
		const decrease = () => event.capacity--

		return {
			...toRefs(event),
			addMarlon,
			increase,
			decrease
		}
  }
};
</script>
