<template>
	<div>
		Search for <input v-model="searchInput">
		<div>
			<p>Loading: {{ loading }}</p>
			<p>Error: {{ error }}</p>
			<p>Number of events: {{ results }}</p>
		</div>
	</div>
</template>

<script>
import { ref, watch} from 'vue'
import usePromise from './use/loading'

export default {
	setup() {
		const countStrings = (str) => {
			return str.length
		}

		const searchInput = ref('')
		const getEvents = usePromise(search => countStrings(search.value))

		watch(searchInput, () => {
			if (searchInput.value !== '') {
				getEvents.createPromise(searchInput)
			} else {
				getEvents.results.value = null
			}
		})

		const {
			results,
			loading,
			error
		} = getEvents

		return {
			searchInput,
			results,
			loading,
			error
		}
	}
}
</script>