<template>
    <div class="home">
        <button @click="toggleModal">Open</button>
        <transition name="fade">
            <div v-if="isOpen" class="modal">
                <p>
                    <button @click="toggleModal">Close</button>
                </p>
            </div>
        </transition>
    </div>
</template>

<script>
export default {
    data() {
        return {
            isOpen: false
        }
    },
    methods: {
        toggleModal() {
            this.isOpen = !this.isOpen
        }
    }
}
</script>

<style>

.modal {
    width: 250px;
    height: 200px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 2%;
    background-color: #e0e0e0;
}

.fade-enter-from {
    opacity: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 3s ease-out;
}

.fade-leave-to {
    opacity: 0
}

</style>
