<template>
	<div>
		Search for first name <input v-model="firstNameInput">
		<br>
		Search for last name<input v-model="lastNameInput">
		<div>
			<p>Number of events: {{ results }}</p>
		</div>
	</div>
</template>

<script>
import { ref, watch } from 'vue'

export default {
	setup() {
		const firstNameInput = ref('marlon')
		const lastNameInput = ref('gomez')
		const results = ref(0)

		// watchEffect(() => {
		// 	results.value = searchInput.value.length
		// })

		watch([firstNameInput, lastNameInput], () => {
			results.value = firstNameInput.value.length + lastNameInput.value.length
		}, {immediate: true})

		return {
			firstNameInput,
			lastNameInput,
			results
		}
	}
}
</script>