<template>
    <div>
        <p>Capacity: {{ capacity }}</p>
        <button @click="increase">Increase</button>
        <button @click="decrease">Decrease</button>
    </div>
</template>

<script>
import useEventSpace from './use-event-space.js'

export default {
    props: {
        delay: {
            type: Number,
            required: true
        }
    },
    async setup(props) {
        const { capacity, increase, decrease } = await useEventSpace(props.delay)
        return { capacity, increase, decrease }
    }
}
</script>