<template>
    <p>{{ someText }}</p>
    <button @click="showText = !showText">Show text</button>
    <teleport to="#after-body" :disabled="showText">
        <input type="text" v-model="someText">
    </teleport>
    <div v-if="error">hay un error... {{ error }}</div>
    <Suspense v-else>
        <template #default>
            <event :delay="500"/>
            <event :delay="1000"/>
            <event :delay="1500"/>
            <event :delay="2000"/>
        </template>
        <template #fallback>
            Loading...
        </template>
    </Suspense>
</template>

<script>
import event from './Event';
import { onErrorCaptured, ref } from 'vue';

export default {
    components: {
        event
    },
    setup() {
        const error = ref(null)
        const showText = ref(true)
        const someText = ref(someText)

        onErrorCaptured((e) => {
            error.value = e
            return true
        })
        return {
            error,
            showText,
            someText
        }
    }
}
</script>