<template>
    <div id="nav">
        <router-link to="/">Modal</router-link>
        <router-link to="/about">About</router-link>
    </div>
    <router-view />
</template>

<script>
export default {

}
</script>

<style>

.modal {
    width: 250px;
    height: 200px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 2%;
    background-color: #e0e0e0;
}

/*** TRANSITIONS */
.fade-enter-from {
    opacity: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 3s ease-out;
}

.fade-leave-to {
    opacity: 0
}

</style>