<template>
  <div>
    <base-input
      v-model:firstName.capitalize="form.firstName"
      v-model:lastName.capitalize.reverse="form.lastName"
    ></base-input>
    <p>{{ form.firstName }} {{ form.lastName }}</p>

    <hr>

    <new-input
      v-model="email"
      @blur="email = 'blurrr@its.cold'"
      label="Email"
      type="email"
      class="some-class"
    ></new-input>

    <p>{{ email }}</p>

  </div>
</template>

<script>
import baseInput from './components/vue2-to-vue3/BaseInput';
import newInput from './components/vue2-to-vue3/NewInput';
import useNamesHandler from './components/vue2-to-vue3/names-handler';
import { ref } from 'vue';

export default {
  name: 'App',
  components: {
    baseInput,
    newInput
  },
  setup() {
    const {
      form
    } = useNamesHandler()

    const email = ref('')
    return {
      email,
      form
    }
  }
}
</script>
