<template>
  <div>

    <suspensito></suspensito>

    <!-- <h3>share state</h3>
    <share-state></share-state>

    <hr>
    <h3>Regular syntax</h3>
    <capacity :init-capacity="15"></capacity>
    <h3>Reactive syntax</h3>
    <reactive-capacity :init-capacity="15"></reactive-capacity>

    <hr>

    <watcher></watcher> -->
  </div>
</template>

<script>
import suspensito from './components/suspense/Suspense';
// import capacity from './components/Capacity'
// import reactiveCapacity from './components/ReactiveCapacity'
// import shareState from './components/ShareState'
// import watcher from './components/Watcher'

export default {
  name: 'App',
  components: {
    suspensito
    // capacity,
    // reactiveCapacity,
    // shareState,
    // watcher
  }
}
</script>
