<template>
    <p>First Name</p>
    <input
        :value="firstName"
        @input="updateFirstName"
    >
    <p>Last Name</p>
    <input
        :value="lastName"
        @input="updateLastName"
    >
</template>

<script>
export default {
    props: {
        firstName: {
            type: [String, Number],
            default: ''
        },
        firstNameModifiers: {
            default: () => ({})
        },
        lastName: {
            type: [String, Number],
            default: ''
        },
        lastNameModifiers: {
            default: () => ({})
        },
    },
    setup(props, { emit }) {
        const updateFirstName = event => {
            let val = event.target.value
            if (props.firstNameModifiers.capitalize) {
                val = val.toUpperCase()
            }
            emit('update:firstName', val)
        }
        const updateLastName = event => {
            let val = event.target.value
            if (props.lastNameModifiers.capitalize) {
                val = val.charAt(0).toUpperCase() + val.slice(1)
            }
            if (props.lastNameModifiers.reverse) {
                val = val.split('').reverse().join('')
            }
            emit('update:lastName', val)
        }
        return {
            updateFirstName,
            updateLastName
        }
    }
}
</script>