<template>
    <!-- se comenta el div para mirar que ya no es necesario usar un unico contenedor -->
    <!-- adicional, no es necesario el inheritAttrs porque ya no hay un solo contenedor -->
    <!-- <div> -->
        <label>{{ label }}</label>
        <input
            v-bind="{
                ...$attrs,
                onInput: (event) => $emit('update:modelValue', event.target.value)
            }"
            :value="modelValue"
        >
    <!-- </div> -->
</template>

<script>
export default {
    // emits: ['peekedIntoTheBox'],
    // esta opcion es para que los atributos definidos
    // para el componente no recaigan sobre el posible container
    // de todos los elementos de este componente
    // inheritAttrs: false,
    props: {
        modelValue: {
            type: [String, Number],
            default: ''
        },
        label: {
            type: String,
            default: null
        }
    }
}
</script>